.col {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.resultado {
    padding: 1%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.datos {
    padding: 1%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.datos1a{
    width: 20rem;
    height: 3rem;
    text-align: center;
}
.resultado1a{
    width: 20rem;
    height: 3rem;
    text-align: center;
}

.card-row{
    width: 20rem; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    
}

/* .list-group{
    width: 20rem;
    height: auto;
} */

h1 {
    text-align: center;
    padding-top: 10px;
}

h3 {
    text-align: center;
    padding-top: 10px;
}

.btn {
    padding: 1%;
    display: flex;
    width: 80%;
    height: 50%;
    border: none;
    border-radius: 50px;
    color: #fff;
    margin-bottom: 20px; 
    cursor: pointer;
    font-size: 18px; 
    /* font-weight: 80px; */ 
    justify-content: center; 
    align-items: center;
    text-align: center;

}

.btn-media {
    background-color: #5ce1e6;
    color:black;
}

.btn-stddev {
    background-color: #5ce1e6;
    color:black;

}

.list-group {
    list-style-type: none;
    /* padding-left: 0; */
}