<div class="titulo">
    <h1>Menú</h1>
</div>
<div class="col">
    <div class="card-row">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li>
                    <button type="button" class="btn btn-1a 1a-button" routerLink="/uno-a">
                        <p>1a</p>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-3a 3a-button" routerLink="/tres-a">
                        <p>3a</p>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-5a 5a-button" routerLink="/cinco-a">
                        <p>5a</p>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>